body
{
 background-image: url("tapetaa.jpg");
}
p
{
    color:rgb(104, 89, 70);
}
b
{
    color: rgb(0, 0, 0);
}
p
{
    font-family: 'Saira Condensed', sans-serif;
}
h2
{
    font-family: 'Saira Condensed', sans-serif;
}

