body
{
 background-image: url("Download premium vector of Tropical botanic leaves background illustration about greenery, botanic, summer border, tropical background, and greenery frame 584866.jfif");
}
p
{
    color:rgb(104, 89, 70);
}
b
{
    color: rgb(0, 0, 0);
}
p
{
    font-family: 'Saira Condensed', sans-serif;
}
h2
{
    font-family: 'Saira Condensed', sans-serif;
}
